.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 1rem;
  max-width: 80rem;
  margin: 0 auto;
}

.nav {
  display: none;
  align-items: center;
  gap: 2rem;
}

@media (min-width: 768px) {
  .nav {
    display: flex;
  }
}

.link {
  font-size: 0.875rem;
  font-weight: 500;
  transition: color 0.2s;
  color: #000;
}

.link:hover {
  color: var(--primary-color);
} 